n8n_backup/ItProger.json
{
  "name": "ItProger",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1584,
        368
      ],
      "id": "502bdbf5-a0c2-4284-9a07-275cec42ae16",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://itproger.com/ua/news",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1440,
        368
      ],
      "id": "5eab95e9-ed86-4e20-b801-b7f1ab2c89f7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "links",
              "cssSelector": ".allArticles .article a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -1296,
        368
      ],
      "id": "4d48a9ef-fc47-4586-a8e3-a0703d881ccc",
      "name": "HTML"
    },
    {
      "parameters": {
        "fieldToSplitOut": "links",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1136,
        368
      ],
      "id": "f1b186be-834d-4ccb-9d9e-7fcc1c6d48c7",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "=https://itproger.com/ua/{{ $json.links }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -960,
        368
      ],
      "id": "57a8c8d2-e26c-4887-89ca-75cf9f4f6387",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "h1.title"
            },
            {
              "key": "bigtext",
              "cssSelector": ".text-in-block",
              "skipSelectors": "a, img"
            },
            {
              "key": "text",
              "cssSelector": ".txt>p"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -784,
        368
      ],
      "id": "46a0b96b-1aae-47e8-91c0-a09782a283c6",
      "name": "HTML1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.fulltext }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Rewrite the text you received",
          "batching": {
            "delayBetweenBatches": 60000
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -80,
        384
      ],
      "id": "75cb343d-97e2-423d-9847-a0e5e03a0eb8",
      "name": "AI Agent",
      "executeOnce": false
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -80,
        624
      ],
      "id": "a1f8599f-e41c-42fc-90b3-f4e80d2d9cd8",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "MEWBGBLllxe1p0j1",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -544,
        368
      ],
      "id": "f85da2d9-eb98-48fb-b211-6dc46df121a3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a7d0c6c-e841-44c1-b176-5f96a2a677a9",
              "name": "fulltext",
              "value": "={{ $json.text }}\n{{ $json.bigtext }}",
              "type": "string"
            },
            {
              "id": "38b1f5a0-caaf-4db6-8892-52c2567a2401",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        384
      ],
      "id": "5e844f5a-236f-40a0-9d9f-44b8218d3be7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28e5e079-67e6-48be-9ac8-4d27c9a944f8",
              "name": "category",
              "value": "Технологии",
              "type": "string"
            },
            {
              "id": "44f8416a-10ce-42ed-aa12-2977841d4c28",
              "name": "title",
              "value": "={{ $('HTML1').item.json.title }}",
              "type": "string"
            },
            {
              "id": "ffc940ef-899d-4277-b1aa-7cf17cc3f73a",
              "name": "excerpt",
              "value": "={{ $('HTML1').item.json.text }}",
              "type": "string"
            },
            {
              "id": "29aa0b50-0fd8-447b-9404-c335e08cdea0",
              "name": "lead",
              "value": "={{ $('HTML1').item.json.text }}",
              "type": "string"
            },
            {
              "id": "f7b50535-71c7-4f7d-8925-fb2ca6d0fd0b",
              "name": "image",
              "value": "hero-keyboard",
              "type": "string"
            },
            {
              "id": "7e6520a7-acaa-4f01-88d8-938c7d2c1a00",
              "name": "date",
              "value": "2026-06-18",
              "type": "string"
            },
            {
              "id": "d4765d58-2806-4ea6-99aa-3c74704b05f6",
              "name": "author",
              "value": "F4rr3LL",
              "type": "string"
            },
            {
              "id": "e1d1238d-8e39-4531-8d3a-0dd7565a6ed2",
              "name": "authorAvatar",
              "value": "vestnik-author-petrov",
              "type": "string"
            },
            {
              "id": "b5d0b37f-d922-4205-8b73-b9850fc8b353",
              "name": "readingTime",
              "value": "5",
              "type": "string"
            },
            {
              "id": "48a90dd4-752b-4c53-860d-a97731537380",
              "name": "figcaption",
              "value": "={{ $('HTML1').item.json.text }}",
              "type": "string"
            },
            {
              "id": "d7c9339f-06de-4666-83b3-1b12cbedf6e7",
              "name": "featured",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "e0166cda-ee21-4bdb-9eef-e3ba650dde68",
              "name": "views",
              "value": "8452",
              "type": "string"
            },
            {
              "id": "e2b91558-dcfe-4b45-80cc-55dd3ef44840",
              "name": "body",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "f8851168-2ed4-43f0-9e7d-a92e97e6e080",
              "name": "tags",
              "value": "[\"квантовые технологии\", \"наука\", \"процессоры\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        176
      ],
      "id": "37caa875-7ac7-45b8-abd4-35d37d1f1c5f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.2.2:8000/api/news",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "date",
              "value": "={{ $json.date }}"
            },
            {
              "name": "author",
              "value": "={{ $json.author }}"
            },
            {
              "name": "content",
              "value": "={{ $json.body }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        320,
        144
      ],
      "id": "942db5fb-a2f3-4ae4-bfe3-fe29bf5f47a1",
      "name": "HTTP Request1",
      "credentials": {
        "httpBearerAuth": {
          "id": "IN2w1aYs8gDQP4Nc",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "4165369c-93fc-4a0e-9193-0d6caa5f5b4f",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n\t\"title\": {{ JSON.stringify($json.title )}},\n    \"bigtext\": {{  JSON.stringify($json.fulltext.replace(/[\\n\\r\\t]/g, ' ').replace(/\\s+/g, ' ').trim()) }}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        176,
        576
      ],
      "id": "bd44cf6e-9a0e-44d6-8894-da1176119488",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "CMsVpA30vwa4pOVX",
          "mode": "list",
          "cachedResultName": "news_posts",
          "cachedResultUrl": "/projects/DzY9KGpwaZDWX6x9/datatables/CMsVpA30vwa4pOVX"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "hash": "={{ $('Split Out').item.json.links }}"
          },
          "matchingColumns": [
            "hash"
          ],
          "schema": [
            {
              "id": "hash",
              "displayName": "hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        528,
        144
      ],
      "id": "71ce178f-619b-4b35-9806-d801c73dbc6f",
      "name": "Insert row"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "CMsVpA30vwa4pOVX",
          "mode": "list",
          "cachedResultName": "news_posts",
          "cachedResultUrl": "/projects/DzY9KGpwaZDWX6x9/datatables/CMsVpA30vwa4pOVX"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "hash",
              "keyValue": "={{ $json.links }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1024,
        112
      ],
      "id": "e8a6002e-4bb6-4326-8222-d715d85c47e9",
      "name": "If row does not exist"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If row does not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row does not exist": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0d9402d7-a449-4060-bb8f-0133cb7bbd63",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3666af600d5961e688a0199babcaebc18384df1a1e107e38948b25495bea9f39"
  },
  "nodeGroups": [],
  "id": "nX5cAsvXAJrx3Vda",
  "tags": []
}